In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Assessors_Parcel_Data_2022.csv', low_memory=False)

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
data.head(5)

,PIN,ASMTYEAR,TAXYEAR,HOUSE_NO,STREET_NAME,UNIT_NO,ZIP_POSTAL,FORMATTED_ADDRESS,OWNERNM,TAXPAYER1,TAXPAYER2,TAXPAYER3,TAXPAYER4,PLAT_NO,NEIGHBORHOOD,COMMUNITY,WARD,ZONING,LANDUSE,PARCEL_AREA_SQFT,X,Y,PRIMARY_PROP_TYPE,LANDVALUE,BLDGVALUE,TOTALVALUE,IS_MULTIPLE_USES,IS_EXEMPT,IS_HOMESTEAD,SUB1_PT,SUB2_PT,SUB3_PT,SUB4_PT,SUB1_EXEMPTCD,SUB2_EXEMPTCD,SUB3_EXEMPTCD,SUB4_EXEMPTCD,NUM_BLDGS,BUILDINGUSE,YEARBUILT,BELOWGROUNDAREA,ABOVEGROUNDAREA,NUM_STORIES,NUM_GAR_STALLS,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,FID
0,p0102824130046,2022,2023,3313,25TH AVE S,NaN,55406-2405,3313 25TH AVE S,ROBERT JOHN REICHGELD II,ROBERT JOHN REICHGELD II,3313 25TH AVE S,MINNEAPOLIS MN 55406,NaN,20330.0,CORCORAN,POWDERHORN,9,R1A,2 UNIT RESIDENTIAL - DUPLEX,4811.0,538269.127156,155189.821038,2 UNIT RESIDENTIAL,65000,227000,292000,NO,NOT EXEMPT,NON-HOMESTEADED,DB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,DUPLEX,1900.0,672,1648,2.0,2,FORCED AIR,WOOD FRAME,STUCCO,GABLE,2.0,0,2,2,1
1,p0102824130047,2022,2023,3317,25TH AVE S,NaN,55406-2405,3317 25TH AVE S,JLMPW HOLDINGS LLC,JLMPW HOLDINGS LLC,MATTHEW WAGNER,3317 25TH AVE S,MINNEAPOLIS MN 55406,20330.0,CORCORAN,POWDERHORN,9,R1A,2 UNIT RESIDENTIAL - DUPLEX,4424.0,538269.460887,155148.792185,2 UNIT RESIDENTIAL,73000,269000,342000,NO,NOT EXEMPT,NON-HOMESTEADED,DB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,DUPLEX,1962.0,1678,1678,1.0,2,FORCED AIR,WOOD FRAME,STUCCO,HIP,2.0,0,3,6,2
2,p0102824130048,2022,2023,3321,25TH AVE S,NaN,55406-2405,3321 25TH AVE S,CITY/LAKES COMMUNITY LAND TR,JACKSON J ARCOREN,TERESA E ARCOREN,3321 25TH AVE S,MINNEAPOLIS MN 55406,20330.0,CORCORAN,POWDERHORN,9,R1A,1 UNIT RESIDENTIAL - SINGLE FAMILY HOUSE,4424.0,538269.620689,155110.860945,RESIDENTIAL,24000,204000,228000,NO,NOT EXEMPT,NON-HOMESTEADED,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,SINGLE FAMILY HOUSE,2021.0,0,1323,1.5,2,NaN,WOOD FRAME,WOOD,GABLE,1.0,0,1,2,3
3,p0102824130049,2022,2023,3323,25TH AVE S,NaN,55406-2405,3323 25TH AVE S,TIMOTHY GODSILL,TIMOTHY GODSILL,6011 XERXES AVE S,MINNEAPOLIS MN 55410,NaN,20330.0,CORCORAN,POWDERHORN,9,R1A,2 UNIT RESIDENTIAL - DUPLEX,4424.0,538269.353581,155071.000502,2 UNIT RESIDENTIAL,73000,256000,329000,NO,NOT EXEMPT,NON-HOMESTEADED,DB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,DUPLEX,1962.0,1683,1692,1.0,0,FORCED AIR,WOOD FRAME,STUCCO,HIP,2.0,0,3,5,4
4,p0102824130050,2022,2023,3327,25TH AVE S,NaN,55406-2405,3327 25TH AVE S,BRANDON V CULBERSON,BRANDON V CULBERSON,3327 25TH AVE S,MINNEAPOLIS MN 55406,NaN,20330.0,CORCORAN,POWDERHORN,9,R1A,1 UNIT RESIDENTIAL - SINGLE FAMILY HOUSE,5530.0,538269.477518,155025.357914,RESIDENTIAL,83000,236000,319000,NO,NOT EXEMPT,HOMESTEADED,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,SINGLE FAMILY HOUSE,1925.0,1188,1563,1.2,2,FORCED AIR,WOOD FRAME,STUCCO,GABLE,1.0,0,2,4,5

In [5]:
df = data[['X','Y','WARD','LANDVALUE','BLDGVALUE','TOTALVALUE','LANDUSE','PARCEL_AREA_SQFT','BUILDINGUSE','YEARBUILT']]

In [6]:
df.head(5)

,X,Y,WARD,LANDVALUE,BLDGVALUE,TOTALVALUE,LANDUSE,PARCEL_AREA_SQFT,BUILDINGUSE,YEARBUILT
0,538269.127156,155189.821038,9,65000,227000,292000,2 UNIT RESIDENTIAL - DUPLEX,4811.0,DUPLEX,1900.0
1,538269.460887,155148.792185,9,73000,269000,342000,2 UNIT RESIDENTIAL - DUPLEX,4424.0,DUPLEX,1962.0
2,538269.620689,155110.860945,9,24000,204000,228000,1 UNIT RESIDENTIAL - SINGLE FAMILY HOUSE,4424.0,SINGLE FAMILY HOUSE,2021.0
3,538269.353581,155071.000502,9,73000,256000,329000,2 UNIT RESIDENTIAL - DUPLEX,4424.0,DUPLEX,1962.0
4,538269.477518,155025.357914,9,83000,236000,319000,1 UNIT RESIDENTIAL - SINGLE FAMILY HOUSE,5530.0,SINGLE FAMILY HOUSE,1925.0

In [7]:
df = df[((df.TOTALVALUE) != 0) & ((df.BLDGVALUE) != 0) & ((df.LANDVALUE) != 0)] #get rid of 0s

In [8]:
df['TOTALVALUE'].describe().round()

count       121355.0
mean        524505.0
std        2933144.0
min            200.0
25%         218000.0
50%         309000.0
75%         431000.0
max      270040000.0
Name: TOTALVALUE, dtype: float64

In [9]:
df['TOTALVALUE'].median()

309000.0

In [10]:
data[data['TOTALVALUE'] == 270040000.0]

,PIN,ASMTYEAR,TAXYEAR,HOUSE_NO,STREET_NAME,UNIT_NO,ZIP_POSTAL,FORMATTED_ADDRESS,OWNERNM,TAXPAYER1,TAXPAYER2,TAXPAYER3,TAXPAYER4,PLAT_NO,NEIGHBORHOOD,COMMUNITY,WARD,ZONING,LANDUSE,PARCEL_AREA_SQFT,X,Y,PRIMARY_PROP_TYPE,LANDVALUE,BLDGVALUE,TOTALVALUE,IS_MULTIPLE_USES,IS_EXEMPT,IS_HOMESTEAD,SUB1_PT,SUB2_PT,SUB3_PT,SUB4_PT,SUB1_EXEMPTCD,SUB2_EXEMPTCD,SUB3_EXEMPTCD,SUB4_EXEMPTCD,NUM_BLDGS,BUILDINGUSE,YEARBUILT,BELOWGROUNDAREA,ABOVEGROUNDAREA,NUM_STORIES,NUM_GAR_STALLS,PRIMARYHEATING,CONSTRUCTIONTYPE,EXTERIORTYPE,ROOF,TOTAL_UNITS,FIREPLACES,BATHROOMS,BEDROOMS,FID
108935,p2702924110135,2022,2023,80,8TH ST S,NaN,55402-2113,80 8TH ST S,BRI 1855 IDS CENTER LLC,"BRI 1855 IDS CENTER, LLC",100 N FEDERAL HIGHWAY,SUITE 400,"HALLANDALE BEACH, FL 33009",2977.0,DOWNTOWN WEST,DOWNTOWN,7,B4-2,OFFICE STRUCTURE,91759.0,528792.404435,167448.591644,COMMERCIAL,26301300,243738700,270040000,YES,NOT EXEMPT,NON-HOMESTEADED,C,LC,NaN,NaN,NaN,NaN,NaN,NaN,1,OFFICE,1972.0,449162,1645215,57.0,650,DISTRICT HEAT,STEEL FRAME,OTHER,FLAT,0.0,0,0,0,108936